<md-table-container>
    <table md-table md-progress="promise">
        <thead md-head md-order="vm.query.order" md-on-reorder="vm.onReorder">
            <tr md-row>
                <th md-column md-order-by="name">Nombre</th>
                <th md-column>Email</th>
                <th md-column>Fecha</th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="user in vm.users">
                <td md-cell>{{user.name}}</td>
                <td md-cell>{{user.email}}</td>
                <td md-cell>{{user.created_at | date: 'dd-MM-YYYY' }}</td>
                <td md-cell class="center">
                    <md-button class="md-icon-button" ng-click="vm.show(user)" aria-label="More">
                        <md-icon class="material-icons md-light md-48"> edit </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vm.delete()" aria-label="More">
                        <md-icon class="material-icons md-light md-48"> delete </md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{ vm.users.length }}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
